* {
	outline: 0;
	padding: 0;
	margin: 0;
	vertical-align:top;
	}

html {
	height: 100%;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	height: 100%;
	background:#f6f6f6;
	}

a img {
border:0;
}
img {vertical-align:top;}

div{
	text-indent:left;
	text-align:left;
	}
li{
	list-style:none;
}
h2{
color:#424242;
text-align:center;
text-transform:uppercase;
font-family:	Arial Narrow;
font-size:16px;
font-weight:900;
margin:17px 0;
}


a {color:#5893b4;}
a:visited { color:#5893b4; }
a:hover {color:#FF0000; }

	
.clear { clear:both}

/*--------------------------------------------------*/	  

#news {
    margin-top: 18px;

}
#news .ah {
    text-decoration: none;
}
#news li {
    border-bottom: 1px solid #E7E7E6;
    display: block;
    float: left;
    list-style-image: none;
    margin-bottom: 8px;
    margin-right: 0;
    padding-bottom: 8px;
}
#news li:last-child {
    border-bottom: 0 none;
}
#news #date {
    float: left;
    font-family: tahoma;
}
#news #date p {
    color: #FF0000;
    font-size: 32px;
	margin-top:6px;
	margin-bottom:5px;
	text-shadow:1px 1px #FFFFFF;
}
#news #date p a:visited {
    color: #FF0000;
}
#news li #date span {
    color: #000000;
    font-size: 9px;
}
#news li .ah #text {
    color: #606060;
    display: block;
    font-family: tahoma;
    font-size: 12px;
    line-height: 14px;
    margin-left: 55px;
    padding-top: 0;
}
	
/*--------------------------------------------------*/	

.menu-three {
margin-top:15px;
}

/*--------------------------------------------------*/	

.content{
margin:0 10px;
}

#divhr-1{
	border-top:1px solid #D4D4D4;
	border-bottom:2px solid #fff;
	height:0px;
	width:100%;
}

#divhr-2{
	border-top:1px solid #D4D4D4;
	border-bottom:2px solid #fff;
	height:0px;
	width:100%;
}

#top-1{
font-family: Verdana;
font-size:14px;
color:#383838;
padding-top:15px;
display:block;
text-shadow: 1px 1px #FFF;
}

#lrtop{
background:#2f2f2f;
color:#fff;
text-align:center;
text-transform:uppercase;
width:100%;
height:16px;
margin-top:5px;
font-family:	Arial Narrow;
font-size:16px;
padding-top:3px;
padding-bottom:3px;
font-weight:900;
}

/* ------------------------------------------------------- */

.menu-line {
background:#d4d4d4;
font-family:arial;
font-size:13px;
line-height:13px;
border-radius:10px;
margin:0 10px;
}
.menu-line li{
height:100%;
width:100px;
float:left;
display:block;
text-align:center;
overflow:hidden;
}
.menu-line li a{
color:#000;
width:100%;
height:22px;
text-decoration:none;
display:block;
padding-top:8px;
text-shadow: 1px 1px 2px #FFF;
}
.menu-line li a:hover{
background:#adadad;
color:#000;
text-shadow: none;
}

/* ------------------------------------------------------- */

.content {
color:#000;
}

.content h1{
color:#424242;
text-align:center;
text-transform:uppercase;
font-family:Arial Narrow;
font-size:16px;
font-weight:900;
margin:17px 0;
}

/* ------------------------------------------------------- */
#my-menu.sample-menu {

}
ul.sample-menu {

}
ul#my-menu a {
    font-size: 15px;
	padding-left:10px;
}
ul.sample-menu li {
    list-style: none outside none;
    margin: 0;
    padding: 2px 0;
}
ul.sample-menu li ul {
    color: #000000;
    margin: 0 0 0 15px;
    padding: 0 0;
}
ul.sample-menu li a {
    color: #000000;
	display:block;
	text-decoration:none;
	line-height:15px;
	margin:4px auto;
}
ul.sample-menu li a:hover {
text-decoration:underline;
}

ul#my-menu a.collapsed {
    color: #000;
	background:URL('../img-site/menu-col.png') no-repeat;
	background-position:0px 5px;
}
ul#my-menu a.expanded {
    color: #000;
	background:URL('../img-site/menu-exp.png') no-repeat;
	background-position:0px 5px;
}

/* ------------------------------------------------------- */

.footer{
		margin-top:10px;
		line-height:14px;
		}
		.footer .b {
		font-size:24px;
		font-family:Verdana;
		
		color:#2f2f2f;
		text-decoration:none;
		margin-top:10px;
		display:block;
		text-transform:uppercase;
		text-shadow: 1px 1px #fff;
		}
		
		
		
		
		
		
		
		
		
		
		
		
.form-wrapper {
        width: 96%;
        padding: 3px;
        margin: 20px 0;
        overflow: hidden;
        border-width: 1px;
        border-style: solid;
        border-color: #dedede #bababa #aaa #bababa; 
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color: #f6f6f6;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8));
        background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
        background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
        background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
        background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
        background-image: linear-gradient(top, #f6f6f6, #eae8e8);
}

.form-wrapper #search {
        width: 120px;
        height: 13px;
        padding: 5px 3px;
        float: left;
        font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 1px solid #ccc;
        -moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
        -webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
        box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
}

.form-wrapper #search:focus {
        outline: 0;
        border-color: #aaa;
        -moz-box-shadow: 0 1px 1px #bbb inset;
        -webkit-box-shadow: 0 1px 1px #bbb inset;
        box-shadow: 0 1px 1px #bbb inset;
}

.form-wrapper #search::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
}

.form-wrapper #search:-moz-placeholder {
        color: #999;
        font-weight: normal;
}

.form-wrapper #search:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
}

.form-wrapper #submit {
        float: right;
        border: 1px solid #2F2F2F;
        height: 24px;
        width: 61px;
        padding: 0;
        cursor: pointer;
        font: 14px Arial, Helvetica;
        color: #fafafa;
        ext-transform: uppercase;
        background-color: #2F2F2F;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        stext-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
        -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
}

.form-wrapper #submit:hover,
.form-wrapper #submit:focus {
        background-color: #2F2F2F;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#2F2F2F), to(#31b2c3));
        background-image: -webkit-linear-gradient(top, #2F2F2F, #D4D4D4);
        background-image: -moz-linear-gradient(top, #2F2F2F, #D4D4D4);
        background-image: -ms-linear-gradient(top, #2F2F2F, #D4D4D4);
        background-image: -o-linear-gradient(top, #2F2F2F, #D4D4D4);
        background-image: linear-gradient(top, #2F2F2F, #D4D4D4);
}      

.form-wrapper #submit:active {
        outline: 0;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.form-wrapper #submit::-moz-focus-inner {
        border: 0;
}