* {
	outline: 0;
	padding: 0;
	margin: 0;
	vertical-align:top;
	}

html {
	height: 100%;
}
body {
	font: 13px/18px Tahoma, Verdana, sans-serif;
	height: 100%;
	background:#f9f9f9;
	color:#000;
	}

a img {
border:0;
}
img {vertical-align:top;}

div{
	text-indent:left;
	text-align:left;
	}
li{
	list-style:none;
}
h2{
	font-size:26px;
	margin-bottom:20px;
	margin-top:15px;
	font-weight:normal;
	color:#505053;
	text-align:center;
}


a {color:#72A0DD;}
a:visited { color:#72A0DD; }
a:hover {	color:#f00; }

.clear { clear:both}

.text {
vertical-align:top;
}

.block-33 {
float:left;
width:33%;
}

.ta-r { text-align:right; }
.ta-l { text-align:left; }
.ta-c { text-align:center;}
.tt-u { text-transform:uppercase;}

.f-l {float:left;}
.f-r {float:right;}
.f-c {float:center;}

/*--------------------------------------------*/
.menu {
	font-size:13px;
	height:45px;
	overflow:hidden;
}

.menu td{
	text-align:center;
	overflow:hidden;
	height:45px;
}

.menu a {
	color:white;
	display:block;
	padding:0 30px;
	text-decoration:none;
	height:45px;
}

.menu a span {
	padding-top:14px;
	display:block;
	font-weight:bold;
	text-transform:uppercase;
	font:14px/14px Tahoma;
}

.menu a:hover {
	color:#fff;
	text-decoration:underline;
	background:url('../img-site/top-menu-active.png') repeat-x;
}

.menu-sep {
	background:url('../img-site/top-menu-sep.png') no-repeat;
	display:block;
	width:1px;
	height:45px;
}


.menu #down-bg {
	background:#4a92db;
    display: none;
    margin: -2px 0 0 0;
    overflow: hidden;
    position: absolute;
    z-index: 99999998;
}
.menu #down {
    background: url("../img-site/top-menu-bg-2.png") no-repeat scroll 0 0 transparent;
    padding: 1px;
    z-index: 99999998;
}

.menu #down a {
	height:40px;
	padding:0 30px;
    display: block;
}

.menu #down a:hover {
    background: url("../img-site/top-menu-bg-3.png") repeat;
}

.menu  .active-menu-li {
    background:url('../img-site/top-menu-active.png') repeat-x;
}

.menu  .active-menu-li>a {
    text-decoration:underline;
}

.menu #down a span {
	vertical-align:bottom;
	text-transform:none;
}

/*--------------------------------------------*/
#news {
	float:left;

}
#news a {
	border: 1px solid #F9F9F9;
	border-left:#000 0px solid;
	margin-left:7px;
	width:100%;
	color:#000;
	display:block;
    text-decoration: none;
    padding: 0 10px 10px 10px;
	float: left;
}
#news a:hover {
	margin:0;
	border: 1px solid #E8E8E8;
	border-left:#f00 7px solid;
    text-decoration: underline;
	background:#fff;
	color:#000;
}
#news .ah {
    text-decoration: none;
	margin-top:10px;
	margin-bottom:5px;
}
#news #date {
    float: left;
    font-family: tahoma;
	padding: 8px 0 0 5px;
}
#news #date p {
    color: #4a92db;
    font-size: 32px;
	margin-bottom:3px;
}
#news #date p a:visited {
    color: #FF0000;
}
#news #date span {
    color: #023a8d;
    font-size: 10px;
}
#news a .ah #text {
    color: #222;
    display: block;
    font-family: tahoma;
    font-size: 12px;
    margin-left: 70px;
}
#news a:hover .ah #text {
    color: #000;
}
/*--------------------------------------------*/
.banner{
float:right;
margin:50px 0px 0 0;
display:block;
}
/*--------------------------------------------*/
.footer {
height:100px;
border-top:1px #dcdcdc solid;
margin-top:50px;
}
.footer .cl-1 {
border-top:13px #e6e6e6 solid;
padding:0 3%;
}

.footer .footer-1 {
	color:#a0a0a0;
	font: Arial;
	font-size:22px;
	font-weight:600;
	width:29%;
	text-align:left;
	float:left;
	margin-top:15px;
}
.footer .footer-1 span {
	color:#000;
	font-size:13px;
	font-weight:normal;
}

.footer .footer-2 {
	color:#000;
	float:left;
	width:50%;
	text-align:center;
	margin-top:33px;
}

.footer .footer-3 {
color:#000;
	float:right;
	width:20%;
	text-align:right;
	margin-top:20px;
}

.footer .footer-3 a{
	color:#72A0DD;			
}

.footer .footer-3 a:hover{
	color:#f00;			
}				
/*--------------------------------------------*/

.col-1 {
padding:0 3%;
margin:0 auto;
vertical-align:top;
}

/*--------------------------------------------*/
.logo-site {
margin:15px 0;
display:block;
}

.header {height:110px;}

.header table {
margin:15px 0;
}
/*--------------------------------------------*/

.sel {
	background:#fff;
	display:block;
	padding:1px;
}
.let-1 {
	background:#ff0000;
	height:100%;
	width:8px;
	display:block;
	float:left;
	margin-right:8px;
}
.let-2 {
	height:100%;
	padding:4px;
	font: 17px Tahoma;
}
.long-name {
	display:block;
	border:#E8E8E8 1px solid;
	font-style: 12px Arial;
	color:#000;
	height:70px;
}
/*--------------------------------------------*/
.phone {
	float:right;
	text-align:right;
	color:#565656;
	width:120px;
}
.ph-1 {
	font:16px/24px Tahoma;
	color: #0C4698;
	text-align:right;
	float:right;
}

.ph-1 span{
	font:14px/24px Tahoma;
	color: #3D7ED3;
}






/*--------------------------------------------*/
.menu-three {
    margin-top: 45px;
	float:left;
	width:200px;
}
ul.sample-menu  a{text-decoration: none;}
ul.sample-menu  a:hover{text-decoration: underline;}

#my-menu.sample-menu {}
ul.sample-menu {}
ul#my-menu a {
    font-size: 14px;
    padding-left: 12px;
}
	/* ������� 1*/
ul.sample-menu li {
    list-style: none outside none;
	margin:0 0 0 7px;
	border:1px solid #F9F9F9;
	display:block;
	}
	
ul.sample-menu li:hover  {
	margin:0 0 0 1px;
	background:#fff;
	border:1px solid #E8E8E8;
	border-left:#ff0000 7px solid;
}

ul.sample-menu li a {
    padding: 5px 0;
    color: #000000;
    display: block;
    margin:0px 4px 0px 8px;
}
ul.sample-menu li a:hover {
}

	/* ������� 2*/
ul.sample-menu li ul {
    color: #000000;
    margin: 10px 0 10px 10px;
    padding: 0;
	border:0;
}
ul.sample-menu li ul  li{
    padding: 0;
	border:0;
	margin:5px 0 0 5px;
}
ul.sample-menu li ul  li:hover{
	border:0;
	margin:0;
	margin:5px 0 0 5px;
}

	/* ������ �� ��������/����������*/
ul#my-menu a.collapsed {
    background: url("../img-site/menu-col.png") no-repeat scroll 0 0px transparent;
    color: #000000;
}
ul#my-menu a.expanded {
    background: url("../img-site/menu-exp.png") no-repeat scroll 0 5px transparent;
    color: #000000;
}

/*--------------------------------------------*/
.site-content {
	float: left;
	margin:0 1%;
	padding:0 5% 0 0;
}
.site-content p{
	margin-top:5px;
}

.site-content ul{
	margin:8px 0 8px 0;
}

.site-content li{
	list-style: square outside none;
	font-size:12px;
	margin: 5px 30px 10px;
}
.site-content pre {
font-family:Tahoma,Verdana,sans-serif;
font-size:13px;
}

/*--------------------------------------------*/

/*--------------------------------------------*/
/*--------------------------------------------*/
/*--------------------------------------------*/
/*--------------------------------------------*/
/*--------------------------------------------*/
/*--------------------------------------------*/
/*--------------------------------------------*/
/*--------------------------------------------*/